
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
                <link rel="stylesheet" href="{{url_for('.static', filename='menu.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='table.css')}}">
        <link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HW2</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
            <li><a href="#">{{ current_user.email }}</a></li>
            <li><a href="{{ url_for('profile')}}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
            <li><a href="{{ url_for('users')}}">Users</a></li>
            <li><a href="{{ url_for('records')}}">Records</a></li>
            <li><a href="{{ url_for('discover')}}">DIscover</a></li>

            <li class="active"><a href="{{ url_for('diseases')}}">Disease</a></li>
            <li><a href="{{ url_for('doctors')}}">Doctors</a></li>
                <li><a href="{{ url_for('publicservants')}}">Public Servants</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Disease</h1>

          <div class="row placeholders">

          </div>

       <nav class="navMenu">
      <a href="{{ url_for('diseases')}}">Diseases</a>
      <a href="{{ url_for('diseasetypes')}}">Diseases types</a>
      <a href="{{ url_for('add_disease')}}">Add disease</a>
            <b href="{{ url_for('add_disease_type')}}">Add disease type</b>

      <div class="dot"></div>
    </nav>


    {% for category,message in get_flashed_messages(True) %}
    <div class="{{category}}">{{message}}</div>
    {% endfor %}

          </div>
        </div>
      </div>
    </div>
{% endblock %}
